<!DOCTYPE html>

<html lang='zh-cmn'>
<!--===========================================================================
    HEAD
============================================================================-->
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="//use.typekit.net/lcd8zou.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<!--===========================================================================
    BODY
============================================================================-->
<body>
    <div id='nav'>
        <h1 id='head-title'><a href='/'>栖伏三街桥下</a></h1>
        <ul id='head-nav'>
            <li class='menu-items'><a href='/'>Home</a></li>
            <li class='menu-items'><a href='/about/'>About</a></li>
            <li class='menu-items'><a href='/archive/'>Archive</a></li>
            <li class='menu-items'><a href='/links'>Links</a></li>
        </ul>
    </div>

    <div id='main'>{{ content }}</div>
</body>
</html>